<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-45G6K3DR9B"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-45G6K3DR9B');
        </script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mindful Media Survey - Login</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon_io/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script>
            function verifyEmail() {
                let submitButton = document.getElementById("submitButton");
                let workEmail = document.getElementById("workEmail");
                let emailHelpInline = document.getElementById("emailHelpInline");
                let checkUsername = workEmail.value;
                if (checkUsername.includes('@') && checkUsername.includes('.')) {
                    emailHelpInline.innerHTML = "Email Valid";
                    submitButton.disabled = false;
                } else {
                    emailHelpInline.innerHTML = "Invalid Email Format";
                    submitButton.disabled = true;
                };
            };
        </script>
    </head>
    <body id="page-top">
        <!-- Public Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!-- Logo Homepage Link -->
                <a href="/" class="navbar-brand"><img src="assets/img/logoAllWhite.png" alt="..." /><img src="assets/img/MindfulMedia.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <!-- Dashboard Link -->
                        <li class="nav-item"><a class="nav-link" href="/tableau">Explore Survey Results</a></li>
                        <!-- Take Survey Button -->
                        <form action="/survey" method="get">
                            <button id="takeSurvey" name="takeSurvey" class="btn btn-info rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#intex">
                                <span class="d-flex align-items-center">
                                    <i class="bi-chat-text-fill me-2"></i>
                                    <span class="small">Take Survey</span>
                                </span>
                            </button>
                        </form>    
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="mini" >
        </header>
        <!-- Login Up -->
        <section class="page-section" id="signup">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Login</h2>
                </div>
                <form class="form-subscribe" id="contactForm" action="/submitLogin" method="post">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6 " >
                            <div class="form-group mb-md-0 ">
                                <!-- Work Email address input-->
                                <input class="form-control" id="workEmail" name="workEmail" type="email" oninput="verifyEmail();" placeholder="Email *" value="<%= params.username %>" required />
                                <!-- <div class="invalid-feedback" name="emailError" id="emailError">Invalid Email Format</div> -->
                                <small id="emailHelpInline" class="text-secondary">Please Supply Your Email.</small>
                            </div>
                        </div>
                        <!-- change column-->
                        <div class="col-md-6">
                            <div class="form-group mb-md-0 ">
                                <!-- Password input-->
                                <input class="form-control" id="password" name="password" type="password" placeholder="Password *" required />
                            </div>
                        </div>                         
                    </div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-info btn-xl text-uppercase " id="submitButton" name="submitButton" type="submit">Login</button></div>
                </form>
                <% if (params.failed) { %>
                    <br>
                    <br>
                    <div class="text-center">
                        <h5>Invalid Email/Password.</h2>
                    </div>
                <% }; %>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Mindful Media Survey 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0"></div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="/signUp">Create Account</a>
                        <a class="link-dark text-decoration-none me-3" href="/privacy">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="/terms">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
