<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-45G6K3DR9B"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-45G6K3DR9B');
        </script>        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mindful Media Survey</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon_io/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <!-- Logo Homepage Link -->
                <form action="/" method="get">
                    <button type="submit" id="hiddenIndexLink" hidden></button>
                </form>    
                <a href="" class="navbar-brand" onclick="document.getElementById('hiddenIndexLink').click();"><img src="assets/img/logoAllWhite.png" alt="..." /><img src="assets/img/MindfulMedia.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <!-- Dashboard Link -->
                        <form action="/tableau" method="get">
                            <button type="submit" id="hiddenTableauLink" hidden></button>
                        </form> 
                        <li class="nav-item"><a class="nav-link" onclick="document.getElementById('hiddenTableauLink').click();" href="">Explore Survey Results</a></li>
                        <!-- Take Survey Button -->
                        <form action="/survey" method="get">
                            <button id="takeSurvey" name="takeSurvey" class="btn btn-info rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#intex">
                                <span class="d-flex align-items-center">
                                    <i class="bi-chat-text-fill me-2"></i>
                                    <span class="small">Take Survey</span>
                                </span>
                            </button>
                        </form>    
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Please Take the Survey</h2>
                    <h3 class="section-subheading text-muted">Social Media Usage and Mental Health</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="survey-container">
                                    <div>
                                        <h1 class="questions">1. What is your age?</h1><BR>
                                            <div class="checkbox-group">
                                                <label for="orange"></label>
                                                <input type="number" class="integerbox"  min="10" max="100">
                                                </label>
                                            </div>
                                        <h1 class="questions">2. What is your gender?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="orange" name="fruit" value="Orange">
                                                <label for="orange">Male</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="orange" name="fruit" value="Orange">
                                                <label for="orange">Female</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="orange" name="fruit" value="Orange">
                                                <label for="orange">Other</label><br><br><br>
                                            </div>
                                        <h1 class="questions">3. What is your current relationship status?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">Single</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Married</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Divorced</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="orange" name="fruit" value="Orange">
                                                <label for="orange">In a relationship</label><BR><br><br>
                                            </div>
                                        <h1 class="questions">4. What is your current occupation status?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">University Student</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Non-University Student</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="orange" name="fruit" value="Orange">
                                                <label for="orange">Salaried Worker</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="orange" name="fruit" value="Orange">
                                                <label for="orange">Retired</label><br><br><br>
                                            </div>
                                        <h1 class="questions" >5. What type of organizations are you affiliated with? (Check all that apply)</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="apple" name="fruit" value="Apple">
                                                <label for="apple">University</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">School</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="orange" name="fruit" value="Orange">
                                                <label for="orange">Company</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="orange" name="fruit" value="Orange">
                                                <label for="orange">Private</label><br>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="orange" name="fruit" value="Orange">
                                                <label for="orange">Government</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="orange" name="fruit" value="Orange">
                                                <label for="orange">None</label><br><br><br>
                                            </div>
                                        <h1 class="questions">6. Do you use social media?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">Yes</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">No</label><br><br><br>
                                            </div>
                                        <h1 class="questions">7. What social media platforms do you commonly use? (Check all that apply)</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="apple" name="fruit" value="Apple">
                                                <label for="apple">Facebook</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Twitter</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Instagram</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Youtube</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Reddit</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Pinterest</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Snapchat</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Discord</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="checkbox" id="banana" name="fruit" value="Banana">
                                                <label for="banana">TikTok</label><br><br><br>
                                            </div>
                                        <h1 class="questions">8. What is the average amount of time you spend on social media every day?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">Less than an Hour</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Between 1 and 2 hours</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Between 2 and 3 hours</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Between 3 and 4 hours</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">Between 4 and 5 hours</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">More than 5 hours</label><br><br><br>
                                            </div>
                                            <h1 class="notes" style= "padding-left: 25px;">   For the next 12 questions, rate yourself on a scale of 1 to 5, where 1 is the lowest and 5 is the highest</h1><BR><br><br>  
                                        <h1 class="questions">9. How often do you find yourself using social media without a specific purpose?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">10. How often do you get distracted by social media when you are busy doing something?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">11. Do you feel restless if you haven’t used social media in a while?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">12. How easily distracted are you?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">13. How much are you bothered by worries?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">14. Do you find it difficult to concentrate on things?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">15. How often do you compare yourself to other successful people through the use of social media?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">16. Following the previous question, how do you feel about these comparisons, generally speaking?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">17. How often do you look to seek validation from features of social media?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">18. How often do you feel depressed or down?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">19. How frequently does your interest in daily activities fluctuate?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br>
                                            </div>
                                        <h1 class="questions">20. How often do you face issues regarding sleep?</h1><BR>
                                            <div class="checkbox-group">
                                                <input type="radio" id="apple" name="fruit" value="Apple">
                                                <label for="apple">1</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">2</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">3</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">4</label>
                                            </div>
                                            <div class="checkbox-group">
                                                <input type="radio" id="banana" name="fruit" value="Banana">
                                                <label for="banana">5</label><br><br><br><br><br>
                                            </div>
                                            <h1 class="thankYou">Thank You</h1>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>                    
                </form>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Mindful Media Survey 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <!-- Employee Login Link-->
                        <form action="/login" method="get">
                            <button type="submit" id="hiddenLoginLink" hidden></button>
                        </form>                     
                        <a class="link-dark text-decoration-none" onclick="document.getElementById('hiddenLoginLink').click();" href="" >Employee Login</a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Threads
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Illustration
                                        </li>
                                    </ul>
                                    <button class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Explore
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Graphic Design
                                        </li>
                                    </ul>
                                    <button class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Finish
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Identity
                                        </li>
                                    </ul>
                                    <button class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Lines
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Branding
                                        </li>
                                    </ul>
                                    <button class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Southwest
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Website Design
                                        </li>
                                    </ul>
                                    <button class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Project Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6.jpg" alt="..." />
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Window
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Photography
                                        </li>
                                    </ul>
                                    <button class="btn btn-info btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
